label > input { width: 3em; }
form > * { padding-right: 0.1em; }

.required:after {
  content: " *";
  color: red;
}

label[for=answer],
label[for=hint] {
  font-size: 2.5em;
  padding-top: 0.25em;
  padding-right: 0.25em;
  padding-bottom: 0.025em;
  padding-left: 0.5em;
}

#hint {
  background-color: #66ffff;
  padding: 5px;
  margin: 0.5em;
  max-width: 650px;
}

.categories-group {
  border-radius: 25px;
  background-color: #ff9933;
}

span {
  display: inline-block;
}

th,
td {
  border: 2px solid;
  margin: 10px;
  padding: 10px;
}

.badge {
  padding: 10px;
  margin: 10px;
}

.bigbtn {
  align-self: center;
  min-height: 100px;
  margin: 0.5em;
  padding: 1.0em;
  padding-left: 2em;
  padding-right: 2em;
}

.btn3d {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

footer {
  background-color: #343a40;
  /* A dark grey color */
  color: #ffffff;
  /* Text color is white for contrast */
  padding: 5px 0;
  /* Padding at the top and bottom of the footer */
  margin-top: 5px;
  /* Margin at the top of the footer to separate from the content above */
  /* float: left; */
  display: flex;
  align-content: space-around;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap
}

.footer-content {
  margin: 0 auto;
  /* Center the content */
  max-width: 960px;
  /* Maximum width of the content */
  padding: 0 20px;
  /* Padding at the sides of the content */
}

.footer-content h4 {
  margin-bottom: 4px;
  /* Space below the headings */
}

.footer-content p {
  margin-bottom: 0;
  /* Remove the space below paragraphs */
}

.footer-bottom {
  border-top: 1px solid #ffffff;
  /* A border at the top of the bottom section for separation */
  padding-top: 5px;
  /* Padding at the top of the bottom section */
}

.picture {
  max-width: 100%;
}

.footer-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

footer .bigbtn {
  min-height: 25px;
  margin: 0.125em;
  padding: 0.25em 0.5em;
}

footer h3, footer h4, footer h5 {
  font-size: 0.9rem;
  margin-top: 4px;
  margin-bottom: 4px;
}

footer p {
  font-size: 0.8rem;
  margin-bottom: 2px;
}

.form-control.answer {
  max-height: 600px;
}

.hidden {
  display: None;
}

.error {
  color: red
}

@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1600px;
  }
}
