# General
*.log
*.csv
*.dat
**/*.DS_Store
Thumbs.db

# Environment files
*.env
*.flaskenv

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pycapp
*.pyz
*.egg
*.egg-info/
*.swp

# Virtual Environments
venv/
.env/
.venv/

# Docker
.dockerignore

# Node
/node_modules/
.npm/
.yarn/

# IDEs and Editors
*.sublime-project
*.sublime-workspace

# Build and Distribution
**/dist/
**/build/
**/htmlcov/
**/coverage/
*.cover

# Test and Coverage Reports
.pytest_cache/
.cache/
.coverage
.coverage.*
.tox/

# Image files
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.bmp
**/*.svg
**/*.pdf

# Lock files
*.lock

# Documentation
docs/_build/

# Exclude samples dir
samples/
*-stack.yml
backup/

**/*.log
**/logs/
*.tar.gz
.dump

pdfjs-dist/
locale/
LICENSE.txt
**/screenshots/
samples/

static/css/images/
**/*.map

prism.js
Flash.js
debugger.mjs
viewer.mjs
dev.env
prod.env

# Ignore uploads folder
**/static/uploads/

**/css/viewer.css
**/css/prism.css
**/css/debugger.css