black
blinker
boto3
botocore
cachelib
click
contourpy
cycler
debugpy
Flask
Flask-Caching
Flask-Login
flask-paginate
Flask-Reuploaded
Flask-WTF
fonttools
greenlet
importlib_metadata
importlib_resources
itsdangerous
Jinja2
jmespath
kiwisolver
MarkupSafe
matplotlib>=3.10.9
mypy-extensions
numpy
packaging
pathspec
pillow
platformdirs
psycopg2-binary
pydevd-pycharm
pyparsing
python-dateutil
python-dotenv
s3transfer
setuptools
six
SQLAlchemy
tomli
typing_extensions
urllib3
Werkzeug
WTForms
zipp
Authlib
Flask-Session
requests
# sub-dep that hangs often
cffi
gunicorn
redis
litellm
alembic
cryptography
pydantic
piper-tts
pytest
sherpa-onnx
# hatchet-sdk: installed in Dockerfile runtime stage (see Dockerfile comment)