{% extends "base.html" %} {% block title %}Login{% endblock %} 
{% block content %}

<div class="site-advertisement" id="title-container">
  <head>
    <h2 class="about-page-heading">
      DoSomeReps.com is a 100% free spaced repetition learning platform you can use to study any subject matter!
    </h2>   
  </head>
</div>

<div class="login-description-text">
    <h5>
      This site takes the guess work out of having to worry about how often you should review study material and automatically presents you with questions at key intervals right before your brain begins to forget the key facts. This site uses experimentally derived time gaps that have been scientifically proven to maximize the retention of information. 
    </h5>
  </div>

    <h5 class="seeking-help">I am looking for partners to help me finish the website faster to make it more appealing and convenient to use. Join me by messaging me on github or sending me an email if interested. daveemail@gmx.com</h5>

    <div id="chart-area" class="chart-area">
      <h3 id="chart-title" class="chart-title">Top category questions
      </h3>
      <div id="chart-container" class="chart-container">
          <body>
          <img src="data:image/png;base64,{{ categories_graph }}" />
      </body>
    </div>
  </div>

  <div id="chart-area" class="chart-area">
    <h3 id="chart-title" class="chart-title">Top category questions
    </h3>
    <div id="chart-container" class="chart-container">
        <body>
        <img src="data:image/png;base64,{{ forgetting_chart }}" />
    </body>
  </div>
</div>

    {% endblock %}