{% extends "base.html" %}
{% block title %}Topic List{% endblock title %}
{% block content %}
<div>
  <div>
    <table id="topic-table">
      <tr>
        <th id="sort-by-topic"  class="heading topic-heading-title">
          <h1 class="topic-heading-title">Topic List</h1>
        </th>
        <th id="sort-by-count" class="heading topic-question-count-title">
          <h1 class="topic-question-count-title">Question Count</h1>
      </tr>
      {% for topic, count in topics.items() %}
      <tr>
        <td class="topic">
          <a class="topic" href="/topic/{{ topic }}">{{ topic }}</a>
        </td>
        <td class="topic-question-count">
          <h3 class="topic-question-count">{{ count }}</h3>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock content %}