{% extends "base.html" %}
{% block title %}
Add Content
{% endblock title %}
{# {% include 'categories.html' %} #}
{% block content %}
<h1 align="center">New Question</h1>

<form id="add_question" enctype="multipart/form-data" method="post">


    <div class="form-group">
        {% include "categories.html" %}
        {% include "new_cat.html" %}
        <hr />
        <script src="https://unpkg.com/promise-polyfill@7.1.2/dist/polyfill.min.js"></script>
        <script src="https://unpkg.com/whatwg-fetch@2.0.4/fetch.js"></script>
        {{ flask_util_js.js }}
        <script type="text/javascript" src="/static/index.js"></script>

        Upload a Question Image:
        {{ form.csrf_token }}
        {{ form.image }}
        {% for field in form %}
    <tr>
        <th>{{ field.label }}</th>
        <td>{{ field }}</td>
    </tr>
{% endfor %}

           </div>
    <button type="submit" class="btn btn-primary" onmouseover="highlight(this)" onmouseout="unhighlight(this)">
        Submit
    </button>
</form>
{% endblock content %}