{% extends "base.html" %}
{% block title %}
Edit Questions
{% endblock title %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {{ flask_util_js.js }}
  <script type="text/javascript" src="/static/index.js"></script>
</head>

<body>

  <div id="edit-question-page-wrapper" class="container-fluid">

    <div id="search-filters" class="search-filters">

      <h2 class="search-filters-title">Search Filters</h2>
      <button id="collapse-categories-button" class="btn btn-secondary" data-toggle="collapse"
        data-target="#category-section">Filters Collapse</button>
      <div id="category-section" class="collapse show">

        <div class="form-group">
          <form id="search-filters-form">

            <ul class="form-group inline border">
            <label for="search-terms">Search Terms:</label><br>
            <input type="text" id="search-terms" name="search-terms"><br>
              Search Within:
              <ul class="list-group list-group-flush form-group" id="categories">
               
                <li class="list-group-item filter-item border">
                  <label for="title-filter-checkbox" class="checkbox-inline"></label>
                  <input type="checkbox" value="title-filter-checkbox" id="title-filter-checkbox" name="title-filter-checkbox" class="custom-checkbox"/>
                  &nbsp Title
                </li>

                <li class="list-group-item filter-item border">
                  <label for="question-filter-checkbox" class="checkbox-inline"></label>
                  <input type="checkbox" value="question-filter-checkbox" id="question-filter-checkbox" name="question-filter-checkbox" class="custom-checkbox"/>
                  &nbsp Question
                </li>

                <li class="list-group-item filter-item border">
                  <label for="hint-filter-checkbox" class="checkbox-inline"></label>
                  <input type="checkbox" value="hint-filter-checkbox" id="hint-filter-checkbox" name="hint-filter-checkbox" class="custom-checkbox"/>
                  &nbsp Hint
                </li>

                <li class="list-group-item filter-item border">
                  <label for="answer-filter-checkbox" class="checkbox-inline"></label>
                  <input type="checkbox" value="answer-filter-checkbox" id="answer-filter-checkbox" name="answer-filter-checkbox" class="custom-checkbox"/>
                  &nbsp Answer
                </li>
              </ul>
            </ul>
          
            <ul class="form-group inline border">
              <label for="category-filter">Category:</label><br>
              <select id="category-filter" name="category-filter">
                <option value="all">All</option>
                <option value="category1">Category 1</option>
                <option value="category2">Category 2</option>
                <option value="category3">Category 3</option>
              </select>

          </form>
        </div>
      </div>
    </div>


    <!-- Sidebar  -->
    <div class="col-md-3 col-sm-12" id="sidebar">
      <div class="sidebar-header">
        <h3>Bootstrap Sidebar</h3>
      </div>

      <ul class="list-unstyled components">
        <p>Search Results</p>
        <li class="search-results">
          <ul class="search-results-list-unstyled" id="search-results-list-unstyled">
            <li>
              <a href="#">question 1</a>
            </li>
            <li>
              <a href="#">question 2</a>
            </li>
            <li>
              <a href="#">question 3</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- Page Content  -->
    <div id="edit-question-content" class="col-md-8 col-sm-12">
      <div id="edit-question-header">
        <h2 class="edit-question-title">Edit Question: </h2>
      </div>

      <div class="form-group editquestionform-area">
        {% include "categories.html" %}
        {% include "editquestionform.html" %}
      </div>
    </div>
  </div>

</body>

</html>
{% endblock content %}