{% extends "base.html" %}
{% block title %}
Add Content
{% endblock title %}
{% block content %}
{{ form.hidden_tag() }}
<h1 align="center">{{ description }}</h1>

<div>
    <form id="que-more-questions" class="que-more-questions form-inline" method="POST">
        {% include "categories.html" %}
        <div class="form-group m-5">
            {{ form.csrf_token }}
            {{ form.qty_to_que.label("Quantity to Add")}}
            {{ form.qty_to_que(class="form-control qty-to-que-number-form", value="Quantity to Add:") }}

            {{ form.que_more_submit(class="btn btn-primary font-weight-bold", value="Add More") }}
        </div>
    </form>
</div>
{% endblock content %}