{% extends "base.html" %}
{% block title %}
Add Content
{% endblock title %}
{% block content %}
{% include "categories.html" %}
<h1 align="center">Quiz Question</h1>
<h3 id="q-level-number">Level Number: {{ q.level_no }}</h3>
{% for cat in q.categories %}
<h3 id="q-categories">Categories: {{ cat }}
</h3>
{% endfor %}
<div class="q-question-section" id="q-question-section">

    <h1 id="q-question-title" class="q-question-title"> {{ q.question_name }}</h1>

    <p id="q-question">Question goes here {{ q.question_text }} </p>
    question image:
    <div id="q-image" class="q-image-area">
        a: {{ q.pics['question_image'] }}
        b: {{ q.pics['question_image'][0] }}

        {% for pic in q.pics['question_image'] %}
        {% if pic %}
        <tr>
            <td> <img class="card-img-top" src="{{ pic }}"></td>
        </tr>
        {% endif %}
        {% endfor %}
    </div>


    {% if q.hint or q.pics.hint_image %}
    <div id="q-hint-area" class="q-hint-section">
        <button id="hint-button" class="btn btn-info" data-toggle="collapse" data-target="#q-hint-reveal">Show
            Hint</button>
        <div id="q-hint-reveal" class="q-hint-section collapse hide card">
            {% if hint_img %}
            <img class="card-img-top" src={{ q.pics.hint_image }}>
            {% endif %}
            <h5 class="card-title">HINT!</h5>
            <p id="q-hint-reveal-text" class="card-text q-hint-text">hint words go here: {{ q.hint }}</p>
        </div>
    </div>
    {% endif %}


    <div id="q-answer-area" class="q-answer-section">
        <button id="answer-button" class="btn btn-info" data-toggle="collapse" data-target="#q-answer-reveal">Show
            Answer</button>

        <div id="q-answer-reveal" class="q-answer-section collapse hide card">
            a: {{ q.pics['answer_pics'] }}
            b: {{ q.pics['answer_pics'][0] }}

            {% for pic in q.pics['answer_pics'] %}
            {% if pic %}
            <tr>
                {{ pic }}
                <td> <img class="answer-img" src="{{ pic }}"></td>
            </tr>
            {% endif %}
            {% endfor %}

            {# {% if q.pics['answer_pics'][0] %} #}
            {# <!-- {% endif %} --> #}
            <h5 class="card-title">ANSWER:</h5>
            <p id="q-answer-reveal-text" class="card-text q-answer-text"> {{ q.answer }}</p>
        </div>
    </div>


</div>

<div id="q-result-section" class="q-result">
    <h1>Result?</h1>
    <button id="hint-button" class="btn btn-success" data-toggle="collapse"
        data-target="#category-section">Correct!</button>

    <button id="hint-button" class="btn btn-danger" data-toggle="collapse"
        data-target="#category-section">Wrong</button>
</div>



{% endblock content %}