<!DOCTYPE html>
{% block categories %}
<div class="container p-3 my-3 border rounded-8 categories-group">
  <div class="panel-group">
    <center>
      <h1 class="category-title">Categories</h1>
    </center>
    <button id="collapse-button" class="btn btn-secondary" data-toggle="collapse"
      data-target="#category-section">Minimize</button>
    <div id="category-section" class="collapse show">
      <ul class="list-group list-group-flush form-group" id="categories">
        


        {% for category in category_list %}
        {% set cat = (category|replace( " ", "_" ))|trim %}
       

        <li class="list-group-item category-item border">
          <label for="category_name" class="checkbox-inline"></label>
          <input type="checkbox" value={{ cat }} id="category_name" name="category_name" class="custom-checkbox"
          {% if cat in selected_categories or (cats_due is defined and cat in cats_due) %}
          checked="checked"
      {% endif %}>


          &nbsp {{ category }}

</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <button id="select-all-btn" class="btn btn-secondary collapse show" type="button">Select All</button>


</div>
<hr>
<script src="https://unpkg.com/promise-polyfill@7.1.2/dist/polyfill.min.js"></script>
<script src="https://unpkg.com/whatwg-fetch@2.0.4/fetch.js"></script>
{{ flask_util_js.js }}
<script type="text/javascript" src="/static/index.js"></script>
{% endblock categories %}