{% block navigation %}
<header>
  <nav class="navbar-outer-element">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <nav class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <div class="navbar-nav">
            <a class="nav-item nav-link {% if request.path == url_for('home.about') %}active{% endif %}" id="signUp"
            href="/about">About Us</a>
            {% if user.is_authenticated %}
            <a class="nav-item nav-link {% if request.path == url_for('home.homepage') %}active{% endif %}" id="home"
              href="/">Home/Stats</a>
            <a class="nav-item nav-link {% if request.path == url_for('home.quiz') %}active{% endif %}" id="quiz"
              href="/quiz">Take Quiz</a>
            <a class="nav-item nav-link {% if request.path == url_for('home.quemore') %}active{% endif %}" id="quemore"
              href="/quemore">Que More Questions</a>
            <a class="nav-item nav-link {% if request.path == url_for('home.addcontent') %}active{% endif %}"
              id="addcontent" href="/addcontent">Add Content</a>
            <a class="nav-item nav-link {% if request.path == url_for('home.editquestions') %}active{% endif %}"
              id="editquestions" href="/editquestions">Edit Questions</a>
            <a class="nav-item nav-link {% if request.path == url_for('auth.logout') %}active{% endif %}" id="logout"
              href="/logout">Logout {{ user.username }}</a>
            {% else %}
            <a class="nav-item nav-link {% if request.path == url_for('auth.login') %}active{% endif %}" id="login"
              href="/login">Login</a>
            <a class="nav-item nav-link {% if request.path == url_for('auth.signup') %}active{% endif %}" id="signUp"
              href="/signup">Sign Up</a>


            {% endif %}
          </div>
        </div>
      </nav>
    </nav>
  </nav>
</header>
{% endblock %}