{% extends "base.html" %}



{% block title %}
Study Materials
{% endblock title %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <script type="module" src="{{ url_for('static', filename='js/pdfjs-dist/build/pdf.mjs') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/pdfviewer.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/pdfjs-dist/addon/doq.js') }}"></script>
</head>

<body>
    <div>
        <canvas id="the-canvas" style="border: 1px solid black; direction: ltr;"></canvas>
    </div>



  </body>
  </html> 
{% endblock content %}