{% block categories_core %}
<div class="container p-3 my-3 border rounded-8 categories-group" id="react-categories-core-root"></div>
<hr>

<script id="categories-core-data" type="application/json">
{{ {
  'categoryList': category_list,
  'selectedCategories': selected_categories if (selected_categories is defined and selected_categories != 'Not set') else [],
  'catsDue': cats_due if cats_due is defined else []
} | tojson }}
</script>

{{ vite_asset("src/entrypoints/CategoriesCore.entry.tsx") }}

{% endblock categories_core %}
