{% block navigation %}
<header>
  <!-- React Mounting Root -->
  <div id="react-navbar-root"></div>
</header>

{# CHANGED THIS - user may be Undefined on pages outside a login context; Undefined
   is not JSON-serialisable and crashed tojson with a 500 #}
{% set nav_is_auth = true if user is defined and user.is_authenticated else false %}
<script id="navbar-data" type="application/json">
{{ {
  'currentPath': request.path,
  'aboutUrl': '/about',
  'homeUrl': '/',
  'topicsUrl': '/topiclist',
  'quizUrl': '/quiz',
  'quemoreUrl': '/quemore',
  'addcontentUrl': '/addcontent',
  'editquestionsUrl': '/editquestions',
  'aiGeneratorUrl': url_for('ai.question_generator'),
  'profileUrl': url_for('ai.profile'),
  'user': {
    'isAuthenticated': nav_is_auth,
    'username': user.username if nav_is_auth else ''
  }
} | tojson }}
</script>

{{ vite_asset("src/entrypoints/Navbar.entry.tsx") }}
{% endblock %}
