<!DOCTYPE html>
{% block editquestionform %}

{{ flask_util_js.js }}
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/prism.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/prism.css') }}">


<script>
    Prism.highlightAll();
</script>


<div class="question-form-area form-group border ">
    {# question text #}
    <label for="question_text" class="required form-label">Question Text</label>
    <textarea class="form-control question_text required" id="question_text" name="question_text"
        placeholder="Enter question here" maxlength="1499" required></textarea>
    {# upload image for question #}
    <p id="upload-question-image"> Upload a Question Image:
        {{ form.csrf_token }}
        {{ form.question_image }}</p>

</div>
&NonBreakingSpace;
{# question Hint #}
<div id="hint_area" class="hint-section">
    <label for="hint">Hint</label>
    <textarea class="form-control hint" id="hint" name="hint" placeholder="Enter hint" maxlength="1999"></textarea>
    <p id="upload-hint-image">Upload a Hint Image:
        {{ form.hint_image }}
    </p>
</div>
&NonBreakingSpace;
{# question Answer #}
<div id="answer-section" class="answer-form-area form-group border">
    <label for="answer" class="required">Answer</label>


  {#         <pre>  <code id="answer-code-area" class="language-PHP language-js language-python">
    </code>         </pre> #}

    <textarea class="form-control answer" id="answer" name="answer" placeholder="Enter answer here"
        required maxlength="3999">  

        </textarea>
   
    <dl>
        <p id="upload-answer-image">
            Upload Answer Images:
            <input type="file" name="answer_pics" multiple="true" autocomplete="off">
        </p>
    </dl>
</div>

<span id="question-form-checkbox-section" class="form-group form-inline m-4">
    <button type="submit" class="btn btn-primary question-submit-button" onmouseover="highlight(this)"
        onmouseout="unhighlight(this)">
        Submit
    </button>
    <div class="auto-que-checkbox-section question-option-checkbox border form-inline" id="auto-que-checkbox-section">
        <input type="checkbox" class="form-group m-3 automatically-que-created-question"
            name="automatically-que-created-question" id="auto-que-checkbox">
        <label for="auto-que-checkbox">Add Question to Que</label>
    </div>
    <div class="privacy-checkbox-section question-option-checkbox border form-inline" id="privacy-checkbox-section">
        <input type="checkbox" class="form-group m-3 privacy-checkbox" name="privacy-checkbox" id="privacy-checkbox">
        <label for="privacy-checkbox">Private only</label>
    </div>
</span>


{{ flask_util_js.js }}
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock editquestionform %}