<!DOCTYPE html>
{% block quefilters %}
<div class="container p-3 my-3 border rounded-8 categories-group">
  <div class="panel-group">
    <center>
      <h1 class="category-title">Filters</h1>
    </center>
    <button id="collapse-button" class="btn btn-secondary" data-toggle="collapse"
      data-target="#quefilters-section">Minimize</button>
    <div id="quefilters-section" class="collapse show">
      <ul class="list-group list-group-flush form-group" id="quefilters">
        <h2>Include:</h2>
        <li class="list-group-item category-item border">
          <label for="quefilter_name" class="checkbox-inline"></label>
          <input type="checkbox" value=personal id="personal" name="personal" class="custom-checkbox" checked />
          &nbsp Personal
        </li>

        <li class="list-group-item category-item border">
          <label for="favorate" class="checkbox-inline"></label>
          <input type="checkbox" id="favorate" name="favorate" class="custom-checkbox" checked />
          &nbsp Favorate Users
        </li>

        <li class="list-group-item category-item border">
          <label for="public" class="checkbox-inline"></label>
          <input type="checkbox" id="public" name="public" class="custom-checkbox" checked />
          &nbsp Public
        </li>

        <li class="list-group-item category-item border">
          <label for="blocked" class="checkbox-inline"></label>
          <input type="checkbox" id="blocked" name="blocked" class="custom-checkbox" />
          &nbsp Blocked Users
        </li>

        <li class="list-group-item category-item border">
          <label for="blocked" class="checkbox-inline"></label>
          <input type="checkbox" id="excluded" name="blocked" class="custom-checkbox" />
          &nbsp Excluded Questions
        </li>
      </ul>
    </div>
  </div>
</div>
<hr>
<script src="https://unpkg.com/promise-polyfill@7.1.2/dist/polyfill.min.js"></script>
<script src="https://unpkg.com/whatwg-fetch@2.0.4/fetch.js"></script>
{{ flask_util_js.js }}
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock quefilters %}