{% extends "base.html" %}
{% block title %}About us{% endblock title %}
{% block content %}

<div id="about-root"></div>

<script id="about-data" type="application/json">
{{ {
  'images': {
    'siteFormat': url_for('static', filename='images/brain.jpg'),
    'activeVsPassive': url_for('static', filename='images/black-board.jpg'),
    'community': url_for('static', filename='images/pcb-brain.jpg'),
    'hourglass': url_for('static', filename='images/hourglass.png')
  },
  'intervals': intervals
} | tojson }}
</script>

{{ vite_asset("src/entrypoints/About.entry.tsx") }}
{% endblock content %}
