{% extends "base.html" %}
{% block title %}Reps Home{% endblock title %}
{% block content %}

<div id="home-root"></div>

<script id="home-data" type="application/json">
{{ {
  'favorites': favorites,
  'blocked': blocked,
  'quizQuestionCount': quiz_q_count,
  'quizUrl': url_for('home.quiz'),
  'catzChart': catz_chart,
  'unfavoriteUrl': url_for('user_ajx.unfavorite_user'),
  'unblockUrl': url_for('user_ajx.unblock_user')
} | tojson }}
</script>

{{ vite_asset("src/entrypoints/Home.entry.tsx") }}
{% endblock content %}
