{% extends "base.html" %}
{% block title %}Reps Home{% endblock title %}
{% block content %}

{# favorate users #}

<div class="col-md-3 col-sm-12" id="sidebar">
  <div class="user-list-area" id="favorite-user-list-area">
  <div class="sidebar-header">
    <center>
      <h3>Favorite Users</h3>
    </center>
  </div>
  <div class="list-group favorite-users">
    <ul>
      {% for key, value in favorites.items() %}
      {# include unfavorite button #}
      <li class="form-inline" id="fav-user-id-{{ key }}-row">
        <h5 class="mb-1 favorite-user-name" id="favorite-usr-{{ key }}">{{ value }}</h5> &nbsp
        <input type="button" data-unfav-usr="{{ key }}" class="btn btn-primary font-weight-bold unfavorite-user-button"
          value="Remove" id="unfavorite-usr-{{ key }}">
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="user-list-area" id="blocked-user-list-area">
  <div class="sidebar-header">
    <center>
      <h3>Blocked Users</h3>
    </center>
  </div>
  <div class="list-group blocked-users">
    <ul>
      {% for key, value in blocked.items() %}
      {# include unfavorite button #}
      <li class="form-inline">
        <h5 class="mb-1 blocked-user-name" id="blocked-usr-{{ key }}">{{ value }}</h5> &nbsp
        <input type="button" data-unblk-usr="{{ key }}" class="btn btn-primary font-weight-bold unblock-user-button"
          value="Unblock" id="unblock-usr-{{ key }}">
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

</div>
<div id="user-message">
  <h3>
    <center>
      <h3 id="user-message-text">
        {% if quiz_q_count > 0 %}
        You have {{ quiz_q_count }} quiz questions to answer.
        <a class="link" id="quiz-link" href="/quiz">Take Quiz
        </a>
        {% endif %}
      </h3>
    </center>
  </h3>
</div>



  <div id="chart-area" class="chart-area">
    <h3 id="chart-title" class="chart-title">Categories to Do
    </h3>
    <div id="chart-container" class="chart-container">
        <body>
        <img src="data:image/png;base64,{{ catz_chart }}" />
    </body>
  </div>
</div>


{% endblock content %}