{% extends "base.html" %}
{% block title %}
Que More Questions
{% endblock title %}
{% block content %}

<div id="quemore-root"></div>

<script id="quemore-data" type="application/json">
{{ {
  'categoryList': category_list,
  'selectedCategories': selected_categories,
  'searchUrl': url_for('que_ajx.searchquefilters'),
  'saveUrl': url_for('que_ajx.save_to_que'),
  'blockUserUrl': url_for('user_ajx.block_user')
} | tojson }}
</script>

{{ vite_asset("src/entrypoints/QueMore.entry.tsx") }}
{% endblock content %}
